{
  "titlesPath": "/Users/hpanhans/Desktop/DebugStringFiles/",
  "maxFontSize": 110,
  "outputPaths": [
    "/Users/hpanhans/Desktop/DebugStringFiles/"
  ],
  "fontFile": "/System/Library/Fonts/HelveticaNeue.ttc",
  "textColor": "#FFF",
  "alsoOutputWholeImage": true,
  "deviceData": [
    {
      "outputSuffix": "iPhone X 5.8 inches",
      "coordinatesOriginIsTopLeft": true,
      "screenshots": "/Users/hpanhans/Downloads/iTunesConnect/com.kayak.travel/screenshots/",
      "templateFile": "/Users/hpanhans/Downloads/DebugTemplateFile.png",
      "screenshotData": [
        {
          "screenshotName": "IMG_2192.PNG",
          "zIndex": 12,
          "bottomLeft": {
            "x": 220,
            "y": 2058
          },
          "bottomRight": {
            "x": 1081,
            "y": 2058
          },
          "topLeft": {
            "x": 220,
            "y": 194
          },
          "topRight": {
            "x": 1081,
            "y": 194
          }
        },
        {
          "screenshotName": "Settings.jpeg",
          "zIndex": 5,
          "bottomLeft": {
            "x": 3720,
            "y": 559
          },
          "bottomRight": {
            "x": 4249,
            "y": 559
          },
          "topLeft": {
            "x": 2460,
            "y": 1506
          },
          "topRight": {
            "x": 3957,
            "y": 2315
          }
        }
      ],
      "textData": [
        {
          "titleIdentifier": "debug-title1",
          "topLeft": {
            "x": 1400,
            "y": 100
          },
          "bottomRight": {
            "x": 1800,
            "y": 400
          },
          "textColorOverride": "#000",
          "textAlignment": "right"
        }
      ]
    }
  ]
}
