{
  "titlesPath": "Example/Strings",
  "maxFontSize": 110,
  "outputPaths": [
    "Example/Output/"
  ],
  "fontFile": "/System/Library/Fonts/HelveticaNeue.ttc",
  "textColor": "#FFF",
  "alsoOutputWholeImage": true,
  "deviceData": [
    {
      "outputSuffix": "iPhone X 5.8 inches",
      "coordinatesOriginIsTopLeft": true,
      "screenshots": "Example/Screenshots/iPhone X/",
      "templateFile": "Example/Template Files/iPhone X/TemplateFile.png",
      "screenshotData": [
        {
          "screenshotName": "launchscreen.png",
          "zIndex": 12,
          "bottomLeft": {
            "x": 133,
            "y": 2028
          },
          "bottomRight": {
            "x": 994,
            "y": 2028
          },
          "topLeft": {
            "x": 133,
            "y": 164
          },
          "topRight": {
            "x": 994,
            "y": 164
          }
        },
        {
          "screenshotName": "frontdoor.png",
          "zIndex": 5,
          "bottomLeft": {
            "x": 1241,
            "y": 1452
          },
          "bottomRight": {
            "x": 1852,
            "y": 2059
          },
          "topLeft": {
            "x": 2561,
            "y": 132
          },
          "topRight": {
            "x": 3171,
            "y": 742
          }
        }
      ],
      "textData": [
        {
          "titleIdentifier": "welcome-title",
          "topLeft": {
            "x": 66,
            "y": 2137
          },
          "bottomRight": {
            "x": 1059,
            "y": 2377
          },
          "textColorOverride": "#FFF",
          "textAlignment": "center"
        },
        {
          "titleIdentifier": "button-callout",
          "topLeft": {
            "x": 2349,
            "y": 1811
          },
          "bottomRight": {
            "x": 3258,
            "y": 2171
          },
          "textColorOverride": "#FFF",
          "textAlignment": "right"
        }
      ]
    }
  ]
}
