{
    "titlesPath": "/some/path/with/textfiles",
    "maxFontSize": 50,
    "outputPaths": [
        "eg/fastlane/screenshots"
    ],
    "fontFile": "/Users/hpanhans/Library/Fonts/Meslo LG L Regular for Powerline.ttf",
    "textColor": "#FFF",
    "deviceData": [
        {
            "outputSuffix": "iPhone X 5.8 inches",
            "screenshots": "/Users/hpanhans/Downloads/iTunesConnect/com.kayak.travel/screenshots",
            "templateFile": "path/to/template/file.png",
            "screenshotData": [
                {
                    "screenshotName": "hotel_results.png",
                    "bottomLeft": {
                        "x": 100,
                        "y": 343
                    },
                    "bottomRight": {
                        "x": 100,
                        "y": 343
                    },
                    "topLeft": {
                        "x": 100,
                        "y": 600
                    },
                    "topRight": {
                        "x": 200,
                        "y": 390
                    },
                    "rotationAngle": 30.00
                }
            ],
            "textData": [
                {
                    "titleIdentifier": "hotel_results",
                    "bottomLeft": {
                        "x": 200,
                        "y": 300
                    },
                    "topRight": {
                        "x": 200,
                        "y": 300
                    },
                    "textColorOverride": "#FFF",
                    "maxFontSizeOverride": 20,
                    "customFontPath": "/Users/hpanhans/Library/Fonts/Hack-Italic.ttf"
                }
            ]
        }
    ]
}
