{
    "titlesPath": "/some/path/with/textfiles",
    "maxFontSize": 50,
    "outputPath": "eg/fastlane/screenshots",
    "fontFile": "path/to/fontfile",
    "textColor": "#FFF",
    "devices": {
        "iPhone 5.8 inch": {
            "screenshots": "folder/path/with/subfolders",
            "pathToTemplateFile": "path/to/template/file.png",
            "screenshotCoordinates": {
                "bottomLeft": {
                    "x": 100,
                    "y": 343.21
                },
                "bottomRight": {
                    "x": 100,
                    "y": 343.21
                },
                "topLeft": {
                    "x": 100,
                    "y": 600.123
                },
                "topRight": {
                    "x": 200,
                    "y": 390.37
                }
            }
        },
        "iPhone 4 inch": {
            "screenshots": "folder/path/with/subfolders",
            "pathToTemplateFile": "path/to/template/file.png",
            "screenshotCoordinates": {
                "bottomLeft": {
                    "x": 100,
                    "y": 343.21
                },
                "bottomRight": {
                    "x": 100,
                    "y": 343.21
                },
                "topLeft": {
                    "x": 100,
                    "y": 600.123
                },
                "topRight": {
                    "x": 200,
                    "y": 390.37
                }
            }
        },
        "iPad 11 inch": {
            "screenshots": "folder/path/with/subfolders",
            "pathToTemplateFile": "path/to/template/file.png",
            "screenshotCoordinates": {
                "bottomLeft": {
                    "x": 100,
                    "y": 343.21
                },
                "bottomRight": {
                    "x": 100,
                    "y": 343.21
                },
                "topLeft": {
                    "x": 100,
                    "y": 600.123
                },
                "topRight": {
                    "x": 200,
                    "y": 390.37
                }
            }
        }
    }
}