{
    "background": "linear-gradient(to bottom, #5787E4, #274C96)",
    "titles": {
        "color": "#FFFFFF",
        "font": "/System/Library/Fonts/HelveticaNeue.dfont", 
        "padding": "65 60 70 60"
    },
    "frames": {
        "iPhone5s\\.png": {
            "path": "Frames/iPhone5s.png",
            "padding": 30
        },
        "iPhone6s\\.png": {
            "path": "Frames/iPhone6s.png",
            "padding": 30
        },
        "iPhone6sPlus\\.png": {
            "path": "Frames/iPhone6sPlus.png",
            "padding": 30
        },
        "iPhone8\\.png": {
            "path": "Frames/iPhone8.png",
            "padding": 30
        },
        "iPadAir2\\.png": {
            "path": "Frames/iPadAir2.png",
            "padding": 30
        },
        "iPadPro\\(12.9inch\\)\\.png": {
            "path": "Frames/iPadPro-12.9-inch.png",
            "padding": 30
        }
    },
    "allowDownsampling": true,
    "outputSuffix": "~framed"
}
