{
    "background": "linear-gradient(to bottom, #5787E4, #274C96)",
    "titles": {
        "color": "#FFFFFF",
        "font": "/System//Library/Fonts/HelveticaNeue.ttc",
        "padding": "65 60 70 60"
    },
    "frames": {
        "iPhone8Plus\\.png": {
            "path": "Frames/iPhone8Plus.png",
            "padding": 30
        },
        "iPadPro\\(12.9inch\\)\\.png": {
            "path": "Frames/iPadPro-12.9-inch.png",
            "padding": 30
        }
    },
    "allowDownsampling": true,
    "outputSuffix": "~framed"
}
