{
    "backgroundColor": "#5787E4",
    "titles": {
        "color": "#FFFFFF",
        "font": "/System/Library/Fonts/HelveticaNeue.dfont", 
        "padding": "65 60 70 60"
    },
    "frames": {
        "iPhone5s\\.png": {
            "path": "Frames/iPhone-4-inch.png",
            "viewport": "60 180 700 1316",
            "padding": 30
        },
        "iPhone6s\\.png": {
            "path": "Frames/iPhone-5-inch.png",
            "viewport": "60 180 810 1514",
            "padding": 30
        },
        "iPhone6sPlus\\.png": {
            "path": "Frames/iPhone-5.5-inch.png",
            "viewport": "60 180 1302 2388",
            "padding": 30
        },
        "iPadAir2\\.png": {
            "path": "Frames/iPad-9.7-inch.png",
            "viewport": "60 180 1596 2228",
            "padding": 30
        },
        "iPadPro\\(12.9inch\\)\\.png": {
            "path": "Frames/iPad-12.9-inch.png",
            "viewport": "60 180 2108 2912",
            "padding": 30
        }
    },
    "allowDownsampling": false,
    "outputSuffix": "~framed"
}
